@font-face {
  font-family: 'a_AvanteBs';
  src: url("../fonts/AAvanteBsExtraBold.woff2") format('woff2'),
        url("../fonts/AAvanteBsExtraBold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'a_AvanteBs';
  src: url("../fonts/AAvanteBs.woff2") format('woff2'),
        url("../fonts/AAvanteBs.woff") format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/OpenSans-Regular.woff2") format('woff2'),
        url("../fonts/OpenSans-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@charset 'UTF-8';

/* Slider */

/* .slick-loading .slick-list
{
    background: #fff url('/img/ajax-loader.gif') center center no-repeat;
} */

/* Arrows */

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  font-size: 0;
  color: transparent;
  display: block;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  height: 5.5rem;
  flex-shrink: 0;
  background-size: 1.5rem auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #567fca;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transform: translate(0, -50%);
  transition: all .2s linear;
  z-index: 5;
}

.slick-next.slick-disabled,
.slick-prev.slick-disabled {
  opacity: .3;
  pointer-events: none;
}

.slick-prev:hover {
  outline: none;
  transform: translate(-10%, -50%);
}

.slick-next:hover {
  outline: none;
  transform: translate(10%, -50%);
}

.slick-prev {
  left: -10rem;
  right: auto;
  background-image: url("../images/icons/arrow--prev.png");
}

.slick-next {
  left: auto;
  right: -11rem;
  background-image: url("../images/icons/arrow--next.png");
}

/* Dots */

/* .slick-dotted.slick-slider
{
    margin-bottom: 5.5rem;
} */

.slick-dots {
  position: absolute;
  bottom: 3rem;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: 0 .5rem;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  color: transparent;
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background-color: transparent;
  border: .2rem solid #0acac5;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  transition: all .25s linear;
}

.slick-dots li button:hover {
  background-color: #0acac5;
  outline: none;
}

.slick-dots li.slick-active button {
  background-color: #0acac5;
}

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

:root {
  --font-1: 'a_AvanteBs', sans-serif;
  --font-2: 'Open Sans', sans-serif;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
strong,
b,
i,
sup,
ol,
ul,
li,
pre,
code,
form,
label,
input,
textarea,
button,
hr,
header,
footer,
main,
section,
nav,
article,
aside {
  margin: 0;
  padding: 0;
  outline: none;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  line-height: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

header,
footer,
main,
section,
nav,
article,
aside {
  display: block;
}

button {
  display: inline-block;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

input {
  line-height: normal;
  -webkit-appearance: none;
}

img {
  display: inline-block;
  vertical-align: bottom;
  border: none;
}

b,
strong {
  font-weight: 700;
}

i {
  font-style: italic;
}

sup {
  font-size: .85em;
  position: relative;
  bottom: .5em;
}

code {
  display: inline-block;
}

html,
body {
  font-family: var(--font-1);
  font-size: .521vw;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes bounce {
  from, 20%, 53%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0) scaleY(0.95);
  }

  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 10000rem 0;
  }
}

.header {
  position: absolute;
  top: 4rem;
  width: 100%;
  height: 14.5rem;
  z-index: 9;
}

.header__row {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 114rem;
  margin: 0 auto;
  transform: translateX(4rem);
}

.header__logo {
  display: inline-block;
  width: 13.2rem;
  margin-right: 3.2rem;
  cursor: pointer;
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header__nav {
  display: flex;
  flex-direction: column;
  width: 68rem;
  margin-right: 2.8rem;
}

.menu {
  display: flex;
  /* justify-content: space-between; */
  list-style: none;
}

.menu__item {
  position: relative;
}

.menu__item + .menu__item {
  margin-left: 3rem;
}

.menu__item:nth-child(5) {
  margin-left: 4.8rem;
}

.menu__item:nth-child(6) {
  margin-left: 5.8rem;
}

.menu__link {
  display: inline-flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem 0;
  font-size: 1.3rem;
  font-weight: 700;
  color: var(--color-white);
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.menu__link--drpdwn::after {
  content: '';
  display: inline-block;
  width: .9rem;
  height: .6rem;
  background-image: url("../images/icons/chevron.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.search {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  padding-right: 2.4rem;
}

.search__input {
  flex: 0 0 23rem;
  padding: 1.4rem 1rem;
  margin-left: auto;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  border: 0;
  border-bottom: 0.1rem solid #fff;
  transition: all .3s ease;
}

.search__input:focus {
  flex: 0 0 46rem;
}

.search__input::placeholder {
  color: #fff;
}

.search__label {
  position: absolute;
  top: 50%;
  right: 3.2rem;
  transform: translateY(-65%);
  cursor: pointer;
}

.search__label img {
  width: 1.6rem;
  height: auto;
}

.header__phone {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__phone-link {
  display: inline-flex;
  align-items: center;
  gap: 1.3rem;
  margin-bottom: 1.5rem;
  font-size: 2.9rem;
  text-decoration: none;
  color: var(--color-white);
}

.header__phone-link img {
  width: 3rem;
  height: auto;
}

.header__phone-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: .8rem;
  width: 19.4rem;
  height: 4.6rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: #31363c;
  background-color: #0acac5;
  box-shadow: 0 0 3rem .1rem #0acac5;
  border: 0;
  border-radius: 3rem;
  transition: all .3s ease;
}

.header__phone-button:hover {
  box-shadow: 0 0 1.5rem .05rem #0acac5;
}

.header__phone-button:active {
  box-shadow: 0 0 1.5rem .05rem #0acac5;
  transform: scale(.97);
}

/*open menu*/

.open-menu-btn {
  display: none;
  width: 3.5rem;
  height: .9rem;
  position: absolute;
  right: 2.5rem;
  left: auto;
  top: 2rem;
  z-index: 4;
  background: none;
  border: none;
  -webkit-appearance: none;
}

.open-menu-btn span {
  height: 0;
  background: #0acac5;
  border: .15rem solid #0acac5;
  position: absolute;
  right: 0;
  width: 3.5rem;
  transition: .4s;
}

.open-menu-btn span:first-child {
  top: 0;
}

.open-menu-btn span:last-child {
  top: 0;
}

.open-menu-btn span:nth-child(2) {
  bottom: 0;
}

.open-menu-btn span:nth-child(3) {
  top: 1.3rem;
  width: 60%;
}

.open-menu-btn span:nth-child(4) {
  bottom: 0;
}

.open-menu-btn.opened span:nth-child(3),
.open-menu-btn.opened span:first-child,
.open-menu-btn.opened span:last-child {
  opacity: 0;
}

.open-menu-btn.opened span:nth-child(2) {
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.open-menu-btn.opened span:nth-child(4) {
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mob-nav-is-opened {
  position: fixed;
  left: 0;
  right: 0;
}

.m-menu {
  display: none;
}

.main {
  flex: 1 0 auto;
  overflow: hidden;
}

.footer {
  position: relative;
  flex: 0 1 auto;
  min-height: 77rem;
  font-family: var(--font-2);
  background-image: url("../images/bckgrnd/footer.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.footer__block-top {
  background: linear-gradient(#fff, rgba(255,255,255, .7) );
}

.footer__contacts {
  display: flex;
  align-items: center;
  padding: 3.2rem 0;
  /* height: 9rem; */
}

.footer__contacts-item:nth-of-type(1) {
  margin-right: 2.5rem;
}

.footer__contacts-item:nth-of-type(2) {
  margin-right: 4rem;
}

.footer__contacts-item:nth-of-type(2) .footer__contacts-item__link img {
  width: 2.6rem;
  height: auto;
}

.footer__contacts-item:nth-of-type(3) {
  margin-right: 4.5rem;
}

.footer__contacts-item:nth-of-type(3) .footer__contacts-item__link img {
  width: 2.6rem;
  height: auto;
}

.footer__contacts-item:nth-of-type(3) .footer__contacts-item__link::after {
  content: '';
  position: absolute;
  display: block;
  width: calc(100% - 3.5rem);
  height: .2rem;
  right: 0;
  bottom: -.2rem;
  background-color: #0acac5;
}

.footer__contacts-item:nth-of-type(4) {
  margin-right: auto;
}

.footer__contacts-item:nth-of-type(1) .footer__contacts-item__link img {
  width: 2rem;
  height: auto;
}

.footer__contacts-item,
.footer__contacts-item__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: #000;
  text-decoration: none;
}

.footer__contacts-item__link img {
  margin-right: 1rem;
}

.footer__contacts-item.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 12rem;
}

.social__link {
  max-height: 2rem;
  text-decoration: none;
}

.social__link:nth-of-type(1) img {
  width: 1.5rem;
}

.social__link:nth-of-type(2) img {
  width: 2rem;
}

.social__link:nth-of-type(3) img {
  width: 1rem;
}

.footer__block-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 9rem; */
  padding: 3.2rem 0;
}

.footer__logo {
  width: 30rem;
  height: auto;
}

.footer__logo img {
  max-width: 100%;
}

.footer__copyright {
  margin-right: 4rem;
  font-size: 1.6rem;
}

.s-container {
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
}

.s-title {
  font-size: 5rem;
  font-weight: 400;
}

.s-text {
  font-size: 1.6rem;
  line-height: 1.4;
}

.s-name {
  pointer-events: none;
  position: absolute;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
  transform: rotate(-90deg);
}

.s-introduce {
  position: relative;
}

.s-introduce .s-name {
  top: 43.5rem;
  left: 33.5rem;
}

.s-introduce__slider .slick-prev,
.s-introduce__slider .slick-next {
  top: 59%;
  background-color: transparent;
  background-size: 3rem;
}

.s-introduce__slider .slick-next {
  right: 30rem;
}

.s-introduce__slider .slick-prev {
  left: 30rem;
}

.s-introduce__slider-item {
  height: 91rem;
  background-image: linear-gradient(#000, transparent 30vh), url("../images/bckgrnd/introduce.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}

.s-introduce__slider-item__content {
  position: relative;
  padding-top: 41.5rem;
  padding-left: 27.5rem;
  height: 100%;
  width: 100%;
  max-width: 114rem;
  margin: 0 auto;
}

.s-introduce__slider-item__title {
  font-size: 8.1rem;
  font-weight: 400;
  text-shadow: 0 0 1.5rem #000;
  color: #fff;
}

.s-introduce__slider-item__title span {
  display: inline-block;
  padding: 1rem;
  background-color: #567fca;
  text-shadow: none;
}

.s-introduce__slider-item__stamp {
  position: absolute;
  right: -2.5rem;
  bottom: 4.5rem;
  width: 20rem;
  height: 20rem;
  background-image: url("../images/stamp.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.s-about {
  position: relative;
  padding: 7rem 0 8rem;
  background-image: url("../images/bckgrnd/about.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
}

.s-about .s-name {
  top: 11.5rem;
  left: 33.5rem;
}

.s-about__title {
  margin-bottom: 4rem;
  text-align: center;
}

.s-about__row {
  display: flex;
  margin-bottom: 5.8rem;
}

.s-about__col--left {
  margin-right: 3rem;
  padding-left: 10.5rem;
}

.s-about__col--left .s-text {
  max-width: 46rem;
}

.s-about__col--left .s-text + .s-text {
  margin-top: 1.5rem;
}

.s-about__col--right {
  width: 56rem;
  margin-right: -1rem;
}

.s-about__col--right img {
  max-width: 100%;
  height: auto;
}

.s-about__descr {
  max-width: 65rem;
  margin: 0 auto;
  font-size: 2.8rem;
  line-height: 1.35;
  text-align: center;
  transform: translateX(1rem);
}

.s-about__descr::after {
  content: "";
  display: block;
  width: 8.5rem;
  height: 0.2rem;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
  background-color: #fff;
}

.s-about__slider .slick-track {
  display: flex;
  gap: 2.5rem;
}

.s-about__slider-item {
  width: 26rem;
  height: 24.5rem;
  padding-top: 6rem;
  background-color: #fff;
}

.s-about__slider-item:nth-of-type(1) .s-about__slider-stars,
.s-about__slider-item:nth-of-type(3) .s-about__slider-stars {
  margin-bottom: 3.5rem;
}

.s-about__slider-stars {
  width: 9rem;
  height: 4rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-image: url("../images/icons/stars.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.s-about__slider-text {
  font-size: 2.5rem;
  line-height: 1.2;
  text-align: center;
  color: #000;
}

@media screen and (max-width: 1400px) {
  html,
  body {
    font-size: 0.7vw;
  }

  .s-name {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  html,
  body {
    font-size: 0.844vw;
  }

  .header__row {
    transform: none;
  }

  .s-introduce__slider .slick-prev {
    left: 10rem;
  }

  .s-introduce__slider .slick-next {
    right: 10rem;
  }

  .s-about__slider {
    width: 90rem;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1000px) {
  html,
  body {
    font-size: 1.01vw;
  }

  .s-container {
    max-width: 95vw;
  }

  .open-menu-btn {
    display: block;
  }

  .header.opened .header__nav {
    left: 0;
  }

  .header__row {
    max-width: 95vw;
  }

  .header__nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -100%;
    justify-content: flex-start;
    width: 100%;
    padding: 20vw 5vw;
    background-color: #000;
    transition: all 0.3s ease;
    overflow: auto;
    z-index: 3;
  }

  .header .menu {
    flex-direction: column;
    margin: 0;
    max-width: 320px;
  }

  .header .menu__item + .menu__item {
    margin-left: 0;
    margin-top: 1rem;
  }

  .header .menu__link {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .header .search {
    justify-content: flex-start;
    margin-top: 10rem;
  }

  .header .search__input {
    flex: 1 0 auto;
    max-width: 320px;
    margin-left: 0;
  }

  .header .search__label {
    right: auto;
    left: 300px;
  }

  .header__logo {
    width: 10rem;
  }

  .header__phone {
    position: fixed;
    right: 3rem;
    bottom: 3rem;
  }

  .header__phone-link {
    display: none;
  }

  .footer {
    min-height: 35rem;
  }

  .footer__contacts {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .footer__contacts-item:nth-of-type(2),
  .footer__contacts-item:nth-of-type(3),
  .footer__contacts-item:nth-of-type(4),
  .footer__contacts-item:nth-of-type(5) {
    margin-right: 0;
  }

  .footer__block-bottom {
    position: relative;
  }

  .footer__info {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .s-about__row {
    flex-direction: column;
  }

  .s-about__col--left {
    margin-right: 0;
    padding-left: 0;
  }

  .s-about__col--left .s-text {
    max-width: 550px;
    margin: 0 auto;
  }

  .s-about__col--right {
    width: 100%;
    margin-right: 0;
    margin-top: 3rem;
    text-align: center;
  }

  .s-about__slider {
    width: 60rem;
  }

  .s-about__slider .slick-prev {
    left: -6rem;
  }

  .s-about__slider .slick-next {
    right: -7rem;
  }
}

@media screen and (max-width: 800px) {
  html,
  body {
    font-size: 1.3vw;
  }

  .s-introduce__slider .slick-prev {
    left: 3rem;
  }

  .s-introduce__slider .slick-next {
    right: 4rem;
  }

  .s-introduce__slider-item__content {
    padding-left: 20rem;
  }

  .s-introduce__slider-item__stamp {
    right: 2rem;
  }
}

@media screen and (max-width: 450px) {
  html,
  body {
    font-size: 2.1vw;
  }

  .s-introduce__slider-item__title {
    font-size: 7rem;
  }

  .s-introduce__slider-item__content {
    padding-left: 5rem;
  }

  .s-about__slider {
    width: 30rem;
  }
}