.s-container
    width: 100%
    max-width: 114rem
    margin: 0 auto

.s-title 
    font-size: 5rem
    font-weight: 400

.s-text 
    font-size: 1.6rem
    line-height: 1.4


@import '_introduce'
@import '_about'



@import '_media'
