@font-face {
    font-family: 'a_AvanteBs';
    src: url('./../fonts/AAvanteBsExtraBold.woff2') format('woff2'),
        url('./../fonts/AAvanteBsExtraBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'a_AvanteBs';
    src: url('./../fonts/AAvanteBs.woff2') format('woff2'),
        url('./../fonts/AAvanteBs.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('./../fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CyrillicRibbon';
    src: url('./../fonts/CyrillicRibbon.woff2') format('woff2'),
        url('./../fonts/CyrillicRibbon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}